.stats {
    height: 30%;
    width: 95%;
    padding: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-image: radial-gradient(circle at center, aliceblue, rgb(231, 237, 243));
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(225, 231, 237);
    border-radius: 15px;
    margin-top: 20px;
    position: relative;
}

.stats .introduction {
    width: 60%;
    height: fit-content;
    margin-left: 20px;
}

.stats .introduction h2 {
    margin-top: 1%;
    margin-bottom: 0%;
}

.stats .introduction p {
    margin-bottom: 0%;
    margin-top: 1%;
}

.stats .data {
    position: absolute;
    width: 95%;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    top: 50%;
    height: 80%;
}