.side-bar {
  transition: width 0.3s;
  height: 100%;
  border-right: 1px dashed silver;

  .side-bar-items {
    margin-top: 15px;
    height: 100%;
    position: relative;
  }

  .item {
    width: inherit;
    padding: 5px 0px 5px 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    flex-wrap: wrap;
    text-wrap: wrap;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      background-color: rgb(241, 241, 250);
    }
  }

  .active {
    background-color: rgb(241, 241, 250);
    border-right: 3.5px solid blue;
    color: blue;
  }

  .open-close-button {
    position: absolute;
    right: -15px;
    top: 45%;
    transform: translateY(-50%);
    border-radius: 100%;
    padding: 4px;
    border: 1px dashed silver;
    background-color: white;
    transition: transform 0.3s;
    color: gray;

    &:hover {
      cursor: pointer;
      background-color: rgb(241, 241, 250);
      color: blue;
      border-color: blue;
    }
  }

  .arrow-button {
    position: absolute;
    right: 5px;
    top: 30%;
    transform: translateY(-50%);
    padding: 4px;
    border-radius: 100%;
    color: gray;

    &:hover {
      cursor: pointer;
      background-color: rgb(241, 241, 250);
      color: blue;
    }
  }

  .rotate {
    transform: translateY(-50%) rotate(180deg);
  }
}
